body.light {
  background-color: $light-background-color;
  text-shadow: $light-text-shadow;
  transition: color 0.4s ease-out, background-color 0.4s ease-out;

  .toggler {
    color: $theme-blue;
  }

  h1,
  h2,
  h3,
  h4,
  h5{
    color: $dark;
  }
}
